body {
    margin: 0;
}

@media (max-width: 600px) {
    .dg {
        .a {
            width: 100% !important;
            margin-right: 0 !important;
        }
    }
    .close-button {
        display: none;
    }
}